{% extends 'fives/base.html' %}

{% block title %} Welcome {% endblock %}

{% block home %}class="active"{% endblock %}

{% block body_block %}

<div class="jumbotron">
    <div class="container">
        <h1> To enter Wednesday Night Football, click <a href="/wnf/all_matches/">GO!</a></h1>
    </div>
</div>


<div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Scores</h3>
            <p>Finally, a definitive record of how your team has been faring.</p>
            <p><a href="/wnf/all_matches/">See all the match results</a></p>
          </div>
          <div class="col-md-4">
            <h3>Fixtures</h3>
            <p>Log in to keep track of who you're playing next, when and where.</p>
            <p><a href="/wnf/my_matches/">Check out your team's fixtures</a></p>
          </div>
          <div class="col-md-4">
            <h3>Post-match chat</h3>
            <p>Debate the turning points, and who scored the most goals.</p>
            <p><a href="/wnf/signup/">Sign up now to comment</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
