{% extends 'fives/base.html' %}

{% block title %}{{ match_id }}{% endblock %}

{% block body_block %}


<div class="match-summary">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            </div>

            <div class="col-sm-2">
                <div class="home-team">

                    <h1><a href="/fives/team/{{ match_id.home_team.id }}/">{{ match_id.home_team }}</a></h1>

                </div>
            </div>

            <div class="col-sm-2">
                <div class="score">

                    <div class="col-sm-4">
                        <div class="home-score">
                            {% if match_id.home_goals %}
                                <h1>{{ match_id.home_goals }}</h1>
                            {% else %}
                                <p></p>
                            {% endif %}

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h2> - </h2>
                    </div>
            
                    <div class="col-sm-4">
                    <div class="away-score">

                    {% if match_id.away_goals %}
                        <h1>{{ match_id.away_goals }}</h1>
                    {% else %}
                        <p> </p>
                    {% endif %}

                    </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-2">
                <div class="away-team">

                    <h1><a href="/fives/team/{{ match_id.away_team.id }}/">{{ match_id.away_team }}</a></h1>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="match-time">
                <h4>{{ match_id.time }}</h4>
            </div>
        </div>
    </div>
</div>


<div class="match-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="match-details-text">
                    <div class="container">

{% if match_id.match_details %}
    <h3>Match Summary</h3>
    <p>{{ match_id.match_details|linebreaks }}</p>
{% else %}
    <h3>Awaiting Match Report</h3>
{% endif %}

                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="h2h">
                    <div class="container">

                    <h3> Head to head record</h3>
                        <div class="col-md-6">
                        <table class="table table-hover">
                            <tr>
                            <th>{{ match_id.home_team }} wins</th>
                            <th>Draws</th>
                            <th>{{ match_id.away_team }} wins</th>
                        </tr>
                        <tr>
                            <td>{{ h2hhome }}</td>
                            <td>{{ h2hdraw }}</td>
                            <td>{{ h2haway }}</td>
                        </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if user.userprofile.team == match_id.home_team or user.userprofile.team == match_id.away_team %}

<div class="comment-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
        <form role="form" method="post" action="/fives/match/{{ match_id.id }}/">

        {% csrf_token %}

        <div class="form-inline">
            <p class="required"><label for="id_comment"></label>
            <textarea class="form-control" id="id_comment" max_length="200" name="comment" type="text" placeholder="Write your comment here..." rows="4" cols="80"></textarea></p>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
        </form>

            </div>
        </div>
    </div>
</div>

{% endif %}


<div class="comments">
    <div class="container">
        <div class="row pull-left">
            <div class="col-sm-6">

{% for comment in match_id.comment.all reversed %}

                <div class="comment">
                    <div class="container">
                        <div class="row">
                            <div class="username">
                                <strong>{{ comment.user }} </strong>
                            </div>
                            <div class="dash">
                                <p>|</p>
                            </div>
                            <div class="date">
                                <p>{{ comment.time|date:"SHORT_DATETIME_FORMAT" }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p>"{{ comment.comment }}" </p>
                            </div>
                        </div>
                    </div>
                </div>


{% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}