{% extends 'fives/base.html' %}

{% block title %}{{ team_id.name }}{% endblock %}

{% block team %}
{% if team_id == user.userprofile.team %}
class="active"
{% else %}
{% endif %}
{% endblock %}


{% block body_block %}

<div class="teamname">
    <div class="container">
        <h1> {{ team_id.name }} </h1>
    </div>
</div> 

<div class="fixture-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Last Match:</h3>
                {% if last_match.id %}
                    <h3><a href="/fives/match/{{ last_match.id }}/"> {{ last_match }}</a></h3>
                    <h3>{{ last_match.time }}</h3>
                {% else %}
                    <h3>{{ last_match }}</h3>
                {% endif %}
            </div>

            <div class="col-md-6">
                <h3>Next Match:</h3>
                {% if next_match.id %}
                    <h3><a href="/fives/match/{{ next_match.id }}/"> {{ next_match }}</a></h3> 
                    <h3>{{ next_match.time }}</h3>
                {% else %}
                <h3> {{ next_match }} </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="team-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            <div class="viewallmatches">
                    {% if team_id.id == user.userprofile.team.id %}
                    <h3><a href="/fives/my_matches/">View all {{ team_id.name }} matches</a></h3>
                    {% else %}
                    <h3><a href="/fives/team_matches/{{ team_id.id }}/">View all {{ team_id.name }} matches</a></h3>
                    {% endif %}
            </div>


            <div class="WDL">
                <h4>Record:</h4>
                <h2> W {{ w }} D {{ d }} L {{ l }} </h2>
            </div>

        </div>

        <div class="col-md-6">

        <div class="squadlist">
            <div class="container">
                <h3>Squad:</h3>
                {% for player in team_id.player.all %}
                <ul>
                    <li>{{ player }}</li>
                </ul>
                {% endfor %}
            </div>

        </div>
        </div>
    </div>
</div>

{% endblock %}

